[defaults]
inventory            = ./inventory.ini
roles_path           = ./roles
host_key_checking    = False
retry_files_enabled  = False
stdout_callback      = yaml
forks                = 10
gathering            = smart
deprecation_warnings = False
interpreter_python   = auto_silent
timeout              = 30

[ssh_connection]
pipelining           = True
ssh_args             = -o ControlMaster=auto -o ControlPersist=300s -o ServerAliveInterval=60 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no

[privilege_escalation]
become              = True
become_method       = sudo
become_user         = root
become_ask_pass     = False
